$dark-theme-text-background: #222222;
$light-theme-text-background: #ffffff;

$text_background: dark-light-choose($light-theme-text-background, $dark-theme-text-background);

$dark-theme-category-tile-color: #ffffff;
$light-theme-category-tile-color: #909090;

$category_tile_color: dark-light-choose($light-theme-category-tile-color, $dark-theme-category-tile-color);

:root {
  --custom-text_background: #{$text_background};
  --custom-category_tile_color: #{$category_tile_color};
}
