// Variables
:root {
  --topic-body-width: 72ch;
  --topic-body-width-padding: 5ch;
  --large-border-radius: 14px;
  --small-border-radius: 7px;
  --header_background: #005b94;
  --custom-text_background-low-mid: gainsboro;
}

// TODO: What is this?
body.category {
  table.category-list {
    div.topics,
    td.topics,
    th.topics {
      text-align: center;
      .badge-notification {
        text-align: center;
      }
    }
  }
}

// TODO: What is this?
body.search-page {
  button.search-cta {
    font-weight: bold;
    text-transform: uppercase;
  }

  #search-in-category-body {
    background-color: var(--custom-text_background);
  }

  div.search-results {
    & > div {
      background-color: var(--custom-text_background);
    }
    .fps-result {
      margin-left: 2ch;
      margin-right: 3ch;
      &:first-child {
        padding-top: 2em;
      }
    }
  }
}
div.search-menu-panel {
}

// Category list view
.category-boxes .category-box,
.category-boxes-with-topics .category-box {
  background-color: var(--custom-text_background);
  transition: box-shadow 0.3s;
  border-radius: var(--large-border-radius);
  border-width: 2px;
  border-color: var(--primary-low);
  border-style: solid;
}

.category-boxes .category-box-inner,
.category-boxes-with-topics .category-box-inner {
  border-radius: var(--small-border-radius);
  border-width: 0;
}

.category-boxes .category-box:hover,
.category-boxes-with-topics .category-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.1);
}

.category-boxes div.description {
  font-size: var(--font-down-1);
  margin-top: 0.5em;
  line-height: 1.15;
  color: var(--custom-category_tile_color);
}

.category-box a h3 {
  line-height: 1;
}

.category.category-box::before {
  position: absolute;
  top: 0;
  left: -1px;
  content: "";
  width: 9px;
  height: 100%;
  background-color: var(--category-badge-color);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.category-boxes .category-box .category-logo.aspect-image img,
.category-boxes-with-topics .category-box .category-logo.aspect-image img {
  --height: 4em;
}

// Category list view navigation bar
.list-controls .combo-box .combo-box-header {
  background-color: var(--custom-text_background);
}

// Topic-view posts
#topic-title .title-wrapper {
  h1 {
    display: flex;
    line-height: 1;
  }

  a.edit-topic {
    margin-left: 1ch;
  }
}

.topic-body div.topic-meta-data {
  margin-top: 1em;
}
.onscreen-post .row {
  gap: 2ch;
}

.more-topics__container .more-topics__list .topic-list-header:after {
  height: 0;
}

.more-topics__container
  .more-topics__list
  .topic-list-body
  .topic-list-item:first-child
  td {
  padding-top: 0.8em;
}

div.topic-avatar {
  border-top: none;
}

.topic-body {
  background-color: var(--custom-text_background) !important;
  border: 2px solid var(--primary-low) !important;
  border-radius: var(--large-border-radius);
}

.topic-avatar,
.topic-map,
.small-action-desc,
.post-links,
.topic-timer-info {
  border-top: none !important;
}

.small-action.topic-post-visited div.topic-post-visited-line,
.small-action div.small-action-desc {
  width: 100%;
}

.topic-map,
section.post-menu-area {
  margin-right: var(--topic-body-width-padding);
}

tbody {
  background-color: var(--custom-text_background);
}
